<%- include("templates/header") %>
<div class="container">
  <form action="/createProfile" method="POST">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        value="<%= username %>"
        readonly
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        value="<%= email %>"
        readonly
      />
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        value="<%= primaryGamingPlatform %>"
        readonly
      />
      <label for="floatingInput">Primary Gaming Platform</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" onclick="goProfile()" type="button">
      Edit Profile
    </button>
  </form>
</div>
<script>
  function goProfile() {
    window.location.href = "/createProfile";
  }
  </script>
<%- include("templates/footer") %>
